<%= form_tag(search_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(search_path, method: "get") do %>
  <%= label_tag(:q, "Search by:") %>
  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="container">
  <h1>Search results</h1>
  <p>Search for "<%= @search_terms%>" returned <%= pluralize(@products.size, 'result') %></p>
  <%= render partial: 'products/product',
             collection: @products,
             locals: {show_details_link:true,
                      add_link:true}
  %>
</div>