<div class="col-sm-4 left">
  <%= image_tag product.image_url %>
  <p>
    <strong><%= product.album_name%></strong>
  </p>
  <p>
    Artist: <%= product.artist_name%>
  </p>
  <p>
    <%= product.category.name%>
  </p>
  <p>
    $<%= product.price%>
  </p>
  <p>
    <%= link_to 'View Details', products_path + "/#{product.id}" %>
  </p>
</div>

