<h2><%= product.album_name%></h2>
<p>
  <strong><%= product.artist_name%></strong>
</p>
<p>
  <%= image_tag product.image_url %>
</p>
<p>
  <strong><%= product.category.name%></strong>
</p>
<p>
  <strong>$<%= product.price%></strong>
</p>