<h2><%= product.album_name%></h2>
<p>
  <strong><%= product.artist_name%></strong>
  <strong><%= product.price%></strong>
  <strong><%= product.category.name%></strong>
  <strong><%= product.price%></strong>
</p>