<div class="col-sm-4 left">
  <%= image_tag product.image_url %>
  <p>
    <strong><%= product.name%></strong>
  </p>
  <p>
    Artist: <%= product.artist_name%>
  </p>
  <p>
    <%= product.category.name%>
  </p>
  <p>
    $<%= product.price%>
  </p>
  <% if show_details_link %>
    <p>
      <%= link_to 'View Details', products_path + "/#{product.id}" %>
    </p>
  <% end %>
  <p>
    <%= link_to 'Add to Cart', products_path + "/#{product.id}/add_to_cart", method: :post %>
  </p>
</div>


